{% extends 'base/templ.html' %}

{% block content %}
<form action="{% url 'home' %}" method="post">
    <ul class="list-product">
		{% for el in product %}
			<li>
				<h2>{{el.name}}</h2>
				<p>{{el.article}}</p>
				<p>
					{% if el.foto %}
						<img class="img-product-left" src="{{el.foto.url}}">
					{% endif %}
					{{el.description|linebreaks|truncatewords:25}}
				</p>
				<p>{{el.price}} руб.</p>
				<div class="clear"></div>
				<p class="link-read-post"> {% if request.user.is_authenticated %} <a href="{{el.id}}">Купить</a>
					{% endif %} <a href="{{ el.get_absolute_url }}">Открыть</a></p>
			</li>
		{% endfor %}
	</ul>
</form>
{% endblock %}